# these are the basic app settings 
# change them if you are making a new version
PROJECT_NAME="Vortex Telemetry Engine"
VERSION="0.1.0"

# this is our postgres database config
# format is postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=vortex_db
POSTGRES_TEST_DB=vortex_test_db

# redis is used for our task queue and speed
# default is usually port 6379
REDIS_URL=redis://localhost:6379/0
REDIS_HOST=localhost # or docker internal host if using docker

# this contains the secret var to access you docs/ endpoint
DOCS_ENDPOINT=your_docs_endpoint_secret_here